<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
  <display-name>Tickets</display-name>
  <servlet>
    <servlet-name>AdminDispatcher</servlet-name>
    <display-name>tickets.controller.admin.AdminDispatcher</display-name>
    <servlet-class>tickets.controller.admin.AdminDispatcher</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminEditFilghtJsp</servlet-name>
    <display-name>/jsps/admin/AdminEditFlight.jsp</display-name>
    <jsp-file>/jsps/admin/AdminEditFlight.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>AdminFlightsJsp</servlet-name>
    <display-name>/jsps/admin/AdminFlights.jsp</display-name>
    <jsp-file>/jsps/admin/AdminFlights.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>AdminNewFlightJsp</servlet-name>
    <display-name>/jsps/admin/AdminNewFlight.jsp</display-name>
    <jsp-file>/jsps/admin/AdminNewFlight.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>AdminOrdersJsp</servlet-name>
    <display-name>/jsps/admin/AdminOrders.jsp</display-name>
    <jsp-file>/jsps/admin/AdminOrders.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>BannerJsp</servlet-name>
    <display-name>/jsps/Banner.jsp</display-name>
    <jsp-file>/jsps/Banner.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>ClientDispatcher</servlet-name>
    <display-name>tickets.controller.client.ClientDispatcher</display-name>
    <servlet-class>tickets.controller.client.ClientDispatcher</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteFlight</servlet-name>
    <display-name>tickets.controller.admin.DeleteFlight</display-name>
    <servlet-class>tickets.controller.admin.DeleteFlight</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ErrorJsp</servlet-name>
    <display-name>/jsps/error/Error.jsp</display-name>
    <jsp-file>/jsps/error/Error.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>ErrorPageJsp</servlet-name>
    <display-name>/jsps/error/ErrorPage.jsp</display-name>
    <jsp-file>/jsps/error/ErrorPage.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>FlightsJsp</servlet-name>
    <display-name>/jsps/client/Flights.jsp</display-name>
    <jsp-file>/jsps/client/Flights.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>FrontController</servlet-name>
    <display-name>tickets.controller.FrontController</display-name>
    <servlet-class>tickets.controller.FrontController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GoodByeJsp</servlet-name>
    <display-name>/jsps/GoodBye.jsp</display-name>
    <jsp-file>/jsps/GoodBye.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>InsertFlight</servlet-name>
    <display-name>tickets.controller.admin.InsertFlight</display-name>
    <servlet-class>tickets.controller.admin.InsertFlight</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginDispatcher</servlet-name>
    <display-name>tickets.controller.LoginDispatcher</display-name>
    <servlet-class>tickets.controller.LoginDispatcher</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginJsp</servlet-name>
    <display-name>/jsps/Login.jsp</display-name>
    <jsp-file>/jsps/Login.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>MakeOrder</servlet-name>
    <display-name>tickets.controller.client.MakeOrder</display-name>
    <servlet-class>tickets.controller.client.MakeOrder</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OrderJsp</servlet-name>
    <display-name>/jsps/client/Order.jsp</display-name>
    <jsp-file>/jsps/client/Order.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>OrderResultJsp</servlet-name>
    <display-name>/jsps/client/OrderResult.jsp</display-name>
    <jsp-file>/jsps/client/OrderResult.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>PageExpiredJsp</servlet-name>
    <display-name>/jsps/error/PageExpired.jsp</display-name>
    <jsp-file>/jsps/error/PageExpired.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>PageNotFoundJsp</servlet-name>
    <display-name>/jsps/error/PageNotFound.jsp</display-name>
    <jsp-file>/jsps/error/PageNotFound.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>SearchFlight</servlet-name>
    <display-name>tickets.controller.client.SearchFlight</display-name>
    <servlet-class>tickets.controller.client.SearchFlight</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SearchJsp</servlet-name>
    <display-name>/jsps/client/Search.jsp</display-name>
    <jsp-file>/jsps/client/Search.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>UpdateFlight</servlet-name>
    <display-name>tickets.controller.admin.UpdateFlight</display-name>
    <servlet-class>tickets.controller.admin.UpdateFlight</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FrontController</servlet-name>
    <url-pattern>*.*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FrontController</servlet-name>
    <url-pattern>/action.html</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteFlight</servlet-name>
    <url-pattern>/admin/delete_flight.html</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminEditFilghtJsp</servlet-name>
    <url-pattern>/admin/edit_flight.html</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminFlightsJsp</servlet-name>
    <url-pattern>/admin/flights.html</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>InsertFlight</servlet-name>
    <url-pattern>/admin/insert_flight.html</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminNewFlightJsp</servlet-name>
    <url-pattern>/admin/new_flight.html</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminOrdersJsp</servlet-name>
    <url-pattern>/admin/orders.html</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateFlight</servlet-name>
    <url-pattern>/admin/update_flight.html</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BannerJsp</servlet-name>
    <url-pattern>/banner.html</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FlightsJsp</servlet-name>
    <url-pattern>/client/flights.html</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MakeOrder</servlet-name>
    <url-pattern>/client/make_order.html</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OrderJsp</servlet-name>
    <url-pattern>/client/order.html</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OrderResultJsp</servlet-name>
    <url-pattern>/client/order_result.html</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchJsp</servlet-name>
    <url-pattern>/client/search.html</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchFlight</servlet-name>
    <url-pattern>/client/search_flight.html</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminDispatcher</servlet-name>
    <url-pattern>/dispatchers/admin.html</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ClientDispatcher</servlet-name>
    <url-pattern>/dispatchers/client.html</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginDispatcher</servlet-name>
    <url-pattern>/dispatchers/login.html</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ErrorJsp</servlet-name>
    <url-pattern>/error/error.html</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ErrorPageJsp</servlet-name>
    <url-pattern>/error/error_page.html</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PageExpiredJsp</servlet-name>
    <url-pattern>/error/page_expired.html</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PageNotFoundJsp</servlet-name>
    <url-pattern>/error/page_not_found.html</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GoodByeJsp</servlet-name>
    <url-pattern>/goodbye.html</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginJsp</servlet-name>
    <url-pattern>/index.html</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginJsp</servlet-name>
    <url-pattern>/login.html</url-pattern>
  </servlet-mapping>
  <error-page>
    <error-code>400</error-code>
    <location>/error/page_expired.html</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/error/page_not_found.html</location>
  </error-page>
  <error-page>
    <exception-type>java.lang.Exception</exception-type>
    <location>/error/error_page.html</location>
  </error-page>
  <taglib>
    <taglib-uri>aircrafts_tag</taglib-uri>
    <taglib-location>/WEB-INF/taglib/aircrafts.tld</taglib-location>
  </taglib>
  <taglib>
    <taglib-uri>cities_tag</taglib-uri>
    <taglib-location>/WEB-INF/taglib/cities.tld</taglib-location>
  </taglib>
  <taglib>
    <taglib-uri>struts_bean_tag</taglib-uri>
    <taglib-location>/WEB-INF/taglib/struts-bean.tld</taglib-location>
  </taglib>
  <taglib>
    <taglib-uri>struts_logic_tag</taglib-uri>
    <taglib-location>/WEB-INF/taglib/struts-logic.tld</taglib-location>
  </taglib>
</web-app>
